@CHARSET "UTF-8";
.price-main-page{

}

#submit-button-main-page {

}

.price-range {

}

#order-shop-main{

}
#order-shop-main-title{

}
#order-shop-main-select{

}

#result-shop-main{

}
#result-shop-main-title{

}

#result-shop-select{

}

#order-result-castum{
  width: 200px;
}

#pagination-order-result{
  margin-top: 5px;
  margin-left: -7px;
}

#pagination-footer{
  margin-left: 55%;
}
