<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <welcome-file-list>
        <welcome-file>products</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Captcha</servlet-name>
        <servlet-class>com.epam.student.krynytskyi.controllers.CaptchaController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>LoginController</display-name>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.epam.student.krynytskyi.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>LogOutController</display-name>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>com.epam.student.krynytskyi.controllers.LogOutController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Captcha</servlet-name>
        <url-pattern>/captcha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/LogOutController</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>
            com.epam.student.krynytskyi.listeners.ContextListener
        </listener-class>
    </listener>

    <!-- Context parameters-->
    <context-param>
        <param-name>captchaProvider</param-name>
        <param-value>session</param-value>
    </context-param>

    <context-param>
        <param-name>timeVerification</param-name>
        <param-value>300</param-value>
    </context-param>

    <context-param>
        <param-name>captchaTimeOut</param-name>
        <param-value>120</param-value>
    </context-param>

    <context-param>
        <param-name>productOrder</param-name>
        <param-value>priceLowHeight</param-value>
    </context-param>

    <context-param>
        <param-name>productResultView</param-name>
        <param-value>5</param-value>
    </context-param>

    <context-param>
        <param-name>productCurrentPage</param-name>
        <param-value>1</param-value>
    </context-param>

    <context-param>
        <param-name>encoding</param-name>
        <param-value>UTF-8</param-value>
    </context-param>

    <context-param>
        <description>We allow 2 mods session, cookie</description>
        <param-name>localeMode</param-name>
        <param-value>cookie</param-value>
    </context-param>

    <context-param>
        <description>It is relevant only for cookie locale mode. defaultValue 60*60*24*365(1 year)</description>
        <param-name>localeLifetime</param-name>
        <param-value>31536000</param-value>
    </context-param>

    <context-param>
        <param-name>availableLocales</param-name>
        <param-value>en,ru</param-value>
    </context-param>

    <context-param>
        <param-name>defaultLocale</param-name>
        <param-value>en</param-value>
    </context-param>

    <resource-env-ref>
        <resource-env-ref-name>jdbc/krynytskyiSop</resource-env-ref-name>
        <resource-env-ref-type>javax.sql.DataSource</resource-env-ref-type>
    </resource-env-ref>

    <!--Filters -->
    <filter>
        <display-name>EncodingCacheFilter</display-name>
        <filter-name>EncodingCacheFilter</filter-name>
        <filter-class>com.epam.student.krynytskyi.filter.EncodingCacheFilter</filter-class>
    </filter>

    <filter>
        <display-name>GZipFilter</display-name>
        <filter-name>GZipFilter</filter-name>
        <filter-class>com.epam.student.krynytskyi.filter.GZipFilter</filter-class>
    </filter>

    <filter>
        <display-name>LocaleFilter</display-name>
        <filter-name>LocaleFilter</filter-name>
        <filter-class>com.epam.student.krynytskyi.filter.LocaleFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>EncodingCacheFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>GZipFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>LocaleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>